body {
    min-height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    flex-direction: column;
}

#anylogic {
    flex-grow: 1;
    position: relative;
}

#svg-video-container {
    /* this makes anylogic respect the dynamic height */
    position: absolute;
}

a.zenmo-logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img.zenmo-logo {
    height: 2rem;
}

header {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}

header p {
    display: flex;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
