[submodule "anylogic/zero_engine"]
	path = anylogic/zero_engine
	url = ../zero_engine.git
	branch = main
[submodule "anylogic/zero_results_UI"]
	path = anylogic/zero_results_UI
	url = ../zero_results_UI.git
	branch = main
[submodule "anylogic/interface_loader"]
	path = anylogic/interface_loader
	url = ../zero_Interface-Loader.git
	branch = main
[submodule "anylogic/zero_local4local/GenericData"]
	path = anylogic/zero_local4local/GenericData
	url = https://github.com/Zenmo/GenericData.git
