
services:
    npm-base:
        image: node:22
        working_dir: /webtool/frontend
        volumes:
            - .:/webtool
        command: ["npm", "install"]

    frontend:
        extends:
            service: npm-base
        command: ["npm", "run", "dev"]
        environment:
            VITE_BACKEND_URL: http://localhost:9000
            # This is an input parameter for the AnyLogic model.
            # The model will use this URL to connect to the webtool backend.
            # To use a locally running webtool with AnyLogic Cloud this needs to be a publicly routable address.
            VITE_ANYLOGIC_CALLBACK_URL: https://${NGROK_DOMAIN:-piranha-equipped-molly.ngrok-free.app}
        ports:
            - "127.0.0.1:5173:5173"

    # base services and for one-off commands
    gradle-base:
        image: gradle:8.13
        working_dir: /home/gradle/project
        user: gradle
        volumes:
            - ./gradle:/home/gradle/project
            - gradle-base-home:/home/gradle/.gradle

    gradle-js:
        extends:
            service: gradle-base
        command: ["gradle", "--project-cache-dir=/tmp/gradle", "--no-daemon", "common:jsBrowserProductionLibraryDistribution"]
        volumes:
            - gradle-js-home:/home/gradle/.gradle

    gradle-client-shadowjar:
        extends:
            service: gradle-base
        image: gradle:8.13-jdk17
        command: [ "gradle", "--project-cache-dir=/tmp/gradle", "--no-daemon", "client:shadowJar" ]
        volumes:
            - gradle-client-shadowjar-home:/home/gradle/.gradle

    postgres:
      image: postgres:18
      env_file:
        - compose.env

      environment:
        POSTGRES_DB: ${POSTGRES_DB:-local4local}
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      ports:
        - "127.0.0.1:5432:5432"
      volumes:
        - postgres-data:/var/lib/postgresql


    backend:
        extends:
            service: gradle-base
        command: ["gradle", "--project-cache-dir=/tmp/gradle", "backend:run"]
        ports:
            -   target: 9000
                published: 9000
        env_file:
          - compose.env

        environment:
          POSTGRES_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB:-local4local}
          POSTGRES_USER: ${POSTGRES_USER}
          POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        depends_on:
          - postgres
        volumes:
            - gradle-backend-home:/home/gradle/.gradle

    # Use `docker compose attach ngrok` to view status
    ngrok:
        image: ngrok/ngrok
        command:
            -   http
            -   --domain=${NGROK_DOMAIN:-piranha-equipped-molly.ngrok-free.app}
            -   backend:9000
        tty: true
        env_file:
            -   ngrok.env
        ports:
            - "4040:4040"

    client-test:
        extends:
            service: gradle-base
        image: gradle:8.13-jdk17
        command: ["gradle", "--project-cache-dir=/tmp/gradle", "--no-daemon", "client:test"]
        depends_on:
            -   backend
        environment:
            LOCAL4LOCAL_BACKEND_URL: http://backend:9000
        volumes:
            - gradle-client-test-home:/home/gradle/.gradle

volumes:
    gradle-base-home:
    gradle-js-home:
    gradle-backend-home:
    gradle-client-test-home:
    gradle-client-shadowjar-home:
    postgres-data:
