name: Deploy

on:
  push:
    branches:
      - main
      - podman-deploy-backend
#  pull_request:
#    types: [ opened, synchronize, reopened ]

env:
    TAG: ${{ github.head_ref || github.ref_name }}-${{ github.run_number }}

jobs:
  build-backend-container:
      runs-on: ubuntu-24.04
      steps:
          -   name: Check out repository
              uses: actions/checkout@main
          -   name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
          -   name: Log in GitHub Container Registry
              uses: docker/login-action@v2
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
          -   name: Build and push
              uses: docker/build-push-action@v6
              with:
                  push: true
                  tags: ghcr.io/zenmo/coco-backend:${{ env.TAG }}
                  context: ./webtool/gradle
                  file: ./webtool/deploy/backend/Dockerfile

  build-frontend-container:
      runs-on: ubuntu-24.04
      steps:
          -   uses: actions/checkout@v5
          -   name: Log in to GitHub Container Registry
              uses: redhat-actions/podman-login@v1
              with:
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
                  registry: ghcr.io
          -   name: Build container image
              run: ./webtool/deploy/frontend/build.sh
          -   name: Push container image
              run: ./webtool/deploy/frontend/push.sh

  deploy-podhost:
      runs-on: ubuntu-24.04
      needs:
          -   build-frontend-container
          -   build-backend-container
      steps:
          -   uses: actions/checkout@v5
          -   name: Install SSH key
              uses: shimataro/ssh-key-action@v2
              with:
                  key: ${{ secrets.PODHOST_SSH_PRIVATE_KEY }}
                  known_hosts: podhost.zenmo.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKVeen0rfyMwiAoQCpIUJ/a2tpM35D/BdEDUyfRTxiXm
          -   name: Deploy podhost
              run: ./webtool/deploy/quadlets/deploy.sh
